*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 0;
}

body{
    background-color: #192734;
    /* background-color: ; */
    /* color: ; */
}
:root{
    --generic-width:300px;
}

.name-animation{
    /* overflow: hidden; */
    display: flex;
    height:100vh ;
    width: 100%;
    background-color: rgb(58, 27, 27);
    /* cursor:pointer; */
    justify-content: end;
    align-items: flex-end;
}
.next-btn
{
    cursor: pointer;
    width: 10vw;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* mix-blend-mode: multiply; */
    bottom: 5vh;
    transform:translateX()
    
}


.next-btn-img
{
    position: absolute;
    background-color: white;
    scale: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in ;
    /* z-index: 200; */
}
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    /* overflow: hidden; */
    /* background-color: lawngreen; */
}
#video{
    width: 100%;
}
section #videoDiv{
    position:relative;
    text-align: center;
    flex-direction: column;
    align-items: center;
    /* vertical-align: middle; */
    /* top:35vh; */
    height:100vh;
    width: 100vw;
    border: 0px;
    padding: 0px;
    margin: 0px;
    /* display: table-cell; */
    justify-content: center;
    z-index: 0;
    overflow-y: hidden;
    /* overflow: hidden; */
}

.homepage-pic
{
    z-index: 100;
    /* background-color: rgb(31, 90, 84); */
    /* hright */
    height: 90vh;
}

.homepage-pic-div
{
    /* mix-blend-mode:color; */
    z-index: 10000;
    /* scale: ; */
    color: thistle;
    position: absolute;
    /* background-color: rgb(0, 255, 200); */
    padding-bottom: 0;
    height: auto;
    width: auto;
    margin:0;
    top: 3vh;
    /* bottom: 2vh; */
    right: 85vw;
    /* left: 80vw; */
    justify-content: left;

    display: inline-block;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}

.name-div{
    /* display: inline-block;
    /* z-index: 0; 
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0); */
    mix-blend-mode: multiply; 



    display: inline-block;  
    justify-content: center;
    line-height: 1em;
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    /* background-color: transparent; */
}

#name
{
    /* mix-blend-mode: multiply; */
    font-family: GreyQo , cursive;

    position: absolute;
    top: 0;
    /* left: -40px; */
    /* right: 50px; */
    height: 100vh;
    width: 100%;
    font-weight: 1000;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size:8vw;
    justify-content: center;
    /* stroke-width: 1px; */
    /* align-items: center; */
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: #fff;/*FFF*/
    /* mix-blend-mode:multiply; */
    line-height: 0.85em;
    /* z-index: 0 !important; */
    /* border: 5px solid white; */
}

#I-am
{
    /* font-family: serif; */
    font-size: 5vw;
    padding-left: 15vw;
    text-align: left;
    color:rgb(255, 255, 255);
    /* align-items: flex-start; */
    display: block;
}

@keyframes blink {
    0%{opacity:1}
    100%{opacity:0}
}

/* #animated-span::after{
    content: "hello world";
} */
/* ------------------------------- */




/* Google Fonts
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
/* html{
    min-height: 100%;
  overflow: hidden;
}
body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);  
} */
.animated-spans
{    
    padding:0 0 0 30vw;
    margin: 0;
    
    display: block;
    font-size: 2vw;
    font: sans-serif;
    text-align: left;
    line-height: 1em;
    /* background-color: violet; */
    /* animation: blink 0.8s ease-in-out infinite; */
    color: rgb(255, 255, 255);
}

#soc-line
{
    display: block;
    color: rgb(10, 255, 173);
    font-size: 2vw;
    /* mix-blend-mode: multiply; */
}

#social-media-links
{
    mix-blend-mode:normal;
    z-index: 10500;
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    bottom: 8vh;
    left: 80vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-icons{
    position: relative;
    background-color: rgb(0, 0, 0);
    font-size: 3vw;
    margin:0 0.5vw;
}
.link-to-social-media
{
    text-decoration: none;
    color: white;
    transition:all 0.15s ease-in;
    cursor: pointer;
}
.google:hover
{
    color: rgb(255, 38, 0);
}
/* .gradient-for-insta
{
    height: 100;
    width:100%;
    display: none;
    background-image: linear-gradient();
} */

.insta:hover{
    background-image: linear-gradient(rgb(247, 4, 48),rgb(128, 1, 247));
    background-clip: text;
    color:transparent;
}

.line-1{
    position: absolute;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 10vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    color: white;
    display: inid="animated-span"line;   
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* ------------------------------- */






#div-on-video
{
    mix-blend-mode:color-burn;
    z-index: 1000;
    display: inline-block;  
    justify-content: center;
    line-height: 1em;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    
    /* background-color: transparent; */
    /* background-color: aqua; */

    align-items:center;
    overflow-y: hidden;
}

#desc{
}

.description{
    /* background-color: azure; */
    height: 100vh;
    width: 100%;
}
#about-me
{
    /* position: absolute; */
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    background-color: aqua;/*61892F*/
    font-family: GreyQo , cursive;
    font-size: 10vh;
    font-weight: 1000;

}

/* .card-container
{
    background-color: grey;
    mix-blend-mode:multiply;
} */

.card-container{
    /* display: block; */
    height: 80vh;
    width: 100%;
    /* background-color: darkcyan; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#information
{
    background-image: linear-gradient(to right,rgb(5, 252, 211),rgb(4, 0, 255));
    /* background-color: beige; */
    height: 80vh;
    width: 400px;
    
    position: absolute;
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    
    /* left: 34vmax;34 */
    transition:all 0.5s ease-in;
}
#information2
{
    background-image: linear-gradient(to right,rgb(5, 252, 211),rgb(4, 0, 255));
    /* background-color: beige; */
    height: 80vh;
    width: 400px;
    
    position: absolute;
    display: none;
    /* align-items: center; */
    /* justify-content: center; */
    
    /* left: 34vmax;34 */
    transition:all 0.5s ease-in;
}

.div-in-education
{
    display: block;
    width: auto;
    background-color:rgb(252, 223, 180);/* #0099ff*/
    margin: 0 1vw;
    cursor: pointer;
}

/* .cbse-photo
{
    display: none;
} */

#cbse1,#cbse2,#sgtb{
    max-height: 100%;
    display: none;
    justify-content: center;
    /* align-items: flex-end; */
    max-height: 60%;
    /* max-width: 100%; */
    width: 100%;
    margin-top: 5vh;
    overflow: hidden;
}
/* .cbse-photo{
    max-height: 60%;
    max-width: %;
    width: 90%;

} */

.skill-level-div
{
    /* background-color: black; */
    width: 80%;
    height: 15%;
    margin:0 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-me-form-div{
    display: grid;
    justify-content: center;
}

.info-back-page
{
    font-size: 1.4vw;
    text-align: center;
}
.field-name
{
    /* display: inline; */
    color: blanchedalmond;
    font-size: 2vw;
    line-height: 0.85;
}

#submit-btn-contact
{
    height: 8vh;
    width: 10vw;
    font-size: 2vw;
    border: 2px double blue;
    color: brown;
    background-color: aqua;
}

#submit-btn-contact:hover
{
    transition: all 0.3s ease-in;
    background-color: beige;
}

.input-for-contact
{
    width:30vw;
    height: 7vh;
    margin-bottom: 4vh;

}

.skill-circle
{
    display: inline-block;
    height: 6vh;
    width:6vh;

    /* background-color: rgb(0, 0, 0); */
    border-radius: 50%;
}


.text-in-education
{
    font-size: 2vw;
}
#span-for-tenth
{
    font-weight: 900;
}

.card-container:hover >#information
{
    transform: translateX(-20vw);
    /* transform: rotateY(180deg); */
}
.card-container:hover >#transition-card
{
    transform: translateX(20vw);
}

#transition-card
{
    background-image: linear-gradient(to right,purple,blue);
    background-color: chartreuse;
    height: 80vh;
    width: 400px;
    overflow:hidden ;

    position: absolute;
    justify-content: center;
    align-items: center;
    transition:all 0.3s ease-in, background-image 1s;
}

#scroll-line{
    
    height: 2vh;
    width: 66vw;
    background-color: #474B4F;
}

#skills
{
    height: auto;
    width: 100vw;
    /* background-color: azure; */
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:  wrap;
    /* align-items:center; */
}

#skills-headline
{
    font-family: GreyQo , cursive;
    font-size: 10vh;
    text-align: center;
    font-weight: 1000;
    color:rgb(12, 11, 11);

    background-color: aqua;
}

#firstS,#secondS,#thirdS,#fourthS
{
    margin-top:5vh;
    height: 60vh;
    width: var(--generic-width);
    color: honeydew;
    transition: all 0.3s ease-in 0.4s;
    transform-style: preserve-3d;
    display: flex;
}
#firstFront,#secondFront,#thirdFront,#fourthFront{

    background-color: #3B8BEB;
    background-image: linear-gradient(#3B8BEB,white,white);
    position: absolute;
    /* background-color:rgb(252, 71, 71); */
    /* background-image: linear-gradient(#2bbe06,#d8e616  ); */
    height: 60vh;
    width: var(--generic-width);
    display: flex;
    align-items: center;
    justify-content:space-between;
    transform-style: preserve-3d;
    z-index: -1;
}

#info-firstS,#info-secondS,#info-thirdS,#info-fourthS{
    position: absolute;
    height: 12%;
    width: 100%;
    top:90%;
    background-color: #3500D3;
    overflow: hidden;
    z-index: 10;
    
    /* transition: all 0.5s ease-in; */
}
.text-in-div
{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
#back-firstS,#back-secondS,#back-thirdS,#back-fourthS{
    position: absolute;
    height: 12%;
    width: 100%;
    top: 90%;
    background-color: rgb(81, 253, 1);
    overflow: hidden;
    /* transition: all 0.5s ease-in ; */
}

/* #firstS:hover{
    transform: rotateY(180deg);
} */

#firstBack,#secondBack,#thirdBack,#fourthBack{
    /* margin-top:5vh; */
    position: absolute;
    height: 60vh;
    width: var(--generic-width);
    background: linear-gradient(#03a9f4, #e91ee3);
    backface-visibility: hidden;
    transform: rotateY(180deg);

    /* display:list-item;
    justify-content: center;
    align-items: flex-start; */

}

/* #firstS:hover{
    transform: translateY(-10px);
    background-image: linear-gradient(blue,purple);
    backface-visibility: hidden;
} */



/* #secondS
{
    height: 80vh;
    width: 25vw;
    background-color: rgb(56, 104, 209);
    
} */
/* #thirdS
{
    height: 80vh;
    width: 25vw;
    background-color: rgb(196, 255, 252);
}
#fourthS
{
    height: 80vh;
    width: 25vw;
    background-color: rgb(255, 196, 209);
} */
.arrows
{
    scale:1.2;
    color: blanchedalmond;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    transition: all 0.3s ease-in;
}

#projects-heading{

    font-family: GreyQo , cursive;
    font-size: 10vh;
    text-align: center;
    font-weight: 1000;

    background-color: aqua;
    
}

#project-restaurant
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#restaurant-heading{
    background-color: rgb(71, 181, 255);
    display: inline;
    margin-left: 5vw;
}
.project-image
{
    margin-top:5vh;
    height: 60vh;
    width: 400px;
    overflow: hidden;
}

.images
{
    position: relative;
    height: 100%;

    width:100%;
}

#footer{
    height: auto;
    width: 100vw;
    background-color: #24272c;
    color: white;
    
}

#contact-me-footer-headline{
    color: white;
    font-size: 1.8vw;
}

.contact-hyperlink
{
    text-decoration: none;
    font-size: 1.7vw;
}

.field-name-contact-me
{
    color: white;
    font-size: 1.8vw;
    font-weight: 500;
}

.education-headline
{
    font-family: GreyQo , cursive;
    font-size: 10vh;
    text-align: center;
    font-weight: 1000;

    background-color: aqua;
}

#education-div
{
    font-size: 20px;
    text-align: center;
    color: lavender;
    height: 60vh;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
}
.img-in-skills{
    position: absolute;
    /* height: ; */
    width: 100%;
}

@media(max-width:700px)
{
    .homepage-pic
    {
        height: 40vh;
    }
    .homepage-pic-div{
        /* display: n   one; */
        /* height: 20vh;
        overflow: hidden; */
        padding-right: 30vw;
        padding-top: 30vh;
        left:0vw;
        top:30vh;
        /* justify-content:left; */
        /* background-color: #3500D3; */
        width: 100vw;
        z-index: 10000;
    }
    #videoDiv{
        /* bottom:15vh; */
        top:38vh;
    }
    #div-on-video{
        
    }
    .animated-spans
    {
        font-size: 4vw
    }
    .homepage-pic
    {right: 90%;
    }
    #div-on-video,#video
    {
        font-size: 10vw;
        /* padding-bottom: 30vh; */
        bottom: 150vh;
    }

    #name
    {
        font-size: 6vh;
    }
    .card-container:hover{
        transform: none;
    }
    #information,#transition-card{
        display: none;
    }
    #information2
    {
        display: block;
    }
    .text-in-education{
        font-size: 9vw;
    }
    .info-back-page
    {
        font-size: 6vw;
    }
    .field-name{
        font-size: 5vw;
    }
    #submit-btn-contact
    {
        font-size: 4vw;
        width: 25vw;
    }
    .input-for-contact{
        width: 40vw;
    }
    .contact-hyperlink,.field-name-contact-me,#contact-me-footer-headline
    {
        font-size: 6vw;
    }
    #footer
    {
        font-size: 20;
    }
    #restaurant-heading
    {
        font-size: 4vw;
    }
    .social-media-links
    {
        width: 50vw;
        /* scale: 1.5; */
    }
    .social-icons
    {
        font-size: 6vw;

    }
    #I-am
    {
        font-size: 10vw;
    }
}