*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 0;
}

body{
    background-color: #192734;
}
:root{
    --generic-width:300px;
}

.name-animation{
    display: flex;
    height:100vh ;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
}
.next-btn
{
    cursor: pointer;
    width: 10vw;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5vh;
    transform:translateX()
    
}


.next-btn-img
{
    position: absolute;
    background-color: white;
    scale: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in ;
}
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#video{
    width: 100%;
    transform-style: preserve-3d;
    position: absolute;
    right: 0vw;
    top: 22vh;


}
section #videoDiv{
    transform-style: preserve-3d;
    
    position:relative;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width: 100vw;
    border: 0px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    z-index: 0;
    overflow-y: hidden;
}

.homepage-pic
{
    z-index: 100;
    height: 90vh;
}

.homepage-pic-div
{
    z-index: 10000;
    color: thistle;
    position: absolute;
    padding-bottom: 0;
    height: auto;
    width: auto;
    margin:0;
    top: 3vh;
    right: 87vw;
    justify-content: left;

    display: inline-block;
}

.name-div{
    mix-blend-mode: multiply; 
    transform-style: preserve-3d;



    display: flex;  
    justify-content: center;
    line-height: 1em;
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
}

#name
{
    font-family: GreyQo , cursive;

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    font-weight: 1000;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size:8vw;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: #fff;/*FFF*/
    line-height: 0.85em;
}

#I-am
{
    font-size: 5vw;
    padding-left: 15vw;
    text-align: left;
    color:rgb(255, 255, 255);
    display: block;
}

@keyframes blink {
    0%{opacity:1}
    100%{opacity:0}
}





.animated-spans
{    
    padding:0 0 0 30vw;
    margin: 0;
    
    display: block;
    font-size: 2vw;
    font: sans-serif;
    text-align: left;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#soc-line
{
    display: block;
    color: rgb(10, 255, 173);
    font-size: 2vw;
}

#social-media-links
{
    mix-blend-mode:normal;
    z-index: 10500;
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    bottom: 8vh;
    left: 80vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-icons{
    position: relative;
    background-color: rgb(0, 0, 0);
    font-size: 3vw;
    margin:0 0.5vw;
}
.link-to-social-media
{
    text-decoration: none;
    color: white;
    transition:all 0.15s ease-in;
    cursor: pointer;
}

#resume-buttons-div{
    background-color: #03a9f4;
    z-index: 10600;
    position: relative;
    right: 40vw;
    bottom: 10vh;
    width:20vw;
}
.resume-buttons{
height: 4vh;
width: 6vw;
border-radius: 2vw;
background-color: #42edf6;
font-size: 2vh;

}
.resume-buttons:hover
{
    background-color: #00bad3;    
}
    
.resume-a{
    text-decoration: none;
}
.google:hover
{
    color: rgb(255, 38, 0);
}

.insta:hover{
    background-image: linear-gradient(rgb(247, 4, 48),rgb(128, 1, 247));
    background-clip: text;
    color:transparent;
}

.line-1{
    position: absolute;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 10vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    color: white;
    display: inid="animated-span"line;   
}

.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}








#div-on-video
{
    mix-blend-mode:color-burn;
    z-index: 1000;
    display: inline-block;  
    justify-content: center;
    line-height: 1em;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    

    align-items:center;
    overflow-y: hidden;
}

#desc{
}

.description{
    height: 100vh;
    width: 100%;
}
#about-me
{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom,rgb(59, 59, 93),#192734);
    color:yellow;
    font-size: 9vh;
    font-weight: 600;

}


.card-container{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#information
{
    background-image:url(./photos/mountains-bg.jpg);
    background-size: 400px;
    height: 80vh;
    width: 400px;
    border-radius: 10px;
    
    position: absolute;
    display: block;
    
    transition:all 0.5s ease-in;
}
#information2
{
    background-image: linear-gradient(to right,rgb(5, 252, 211),rgb(4, 0, 255));
    height: 80vh;
    width: 400px;
    
    position: absolute;
    display: none;
    
    transition:all 0.5s ease-in;
}

.div-in-education
{
    display: block;
    width: auto;
    background-color:rgba(0, 255, 106, 0.062);/* #0099ff*/
    opacity: 20;
    margin: 0 1vw;
    cursor: pointer;
}


#cbse1,#cbse2,#sgtb{
    max-height: 100%;
    display: none;
    justify-content: center;
    max-height: 60%;
    width: 100%;
    margin-top: 5vh;
    overflow: hidden;
}

.skill-level-div
{
    width: 80%;
    height: 15%;
    margin:0 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-me-form-div{
    display: block;
    justify-content: center;
}
#form-for-contact
{
    text-align: center;
}

.info-back-page
{
    font-size: 1.4vw;
    text-align: center;
}
.field-name
{
    color: blanchedalmond;
    font-size: 2vw;
    line-height: 0.85;
}

#submit-btn-contact
{
    height: 8vh;
    width: 10vw;
    font-size: 2vw;
    border: 2px double blue;
    color: brown;
    background-color: aqua;
}

#submit-btn-contact:hover
{
    transition: all 0.3s ease-in;
    background-color: beige;
}

.input-for-contact
{
    width:30vw;
    height: 7vh;
    margin-bottom: 4vh;

}

.skill-circle
{
    display: inline-block;
    height: 6vh;
    width:6vh;

    border-radius: 50%;
}


.text-in-education
{
    font-size: 2vw;
}
#span-for-tenth
{
    font-weight: 900;
}

.card-container:hover >#information
{
    transform: translateX(-20vw);
}
.card-container:hover >#transition-card
{
    transform: translateX(20vw);
}

#transition-card
{
    background-color: rgb(0, 0, 0);
    height: 80vh;
    width: 400px;
    overflow:hidden ;
    border-radius: 15px;
    color: aliceblue;

    position: absolute;
    justify-content: center;
    align-items: center;
    transition:all 0.3s ease-in, background-image 1s;
}

#scroll-line{
    
    height: 2vh;
    width: 66vw;
    background-color: #474B4F;
}

#skills
{
    height: auto;
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:  wrap;
}

#skills-headline
{
    text-align: center;
    background-image: linear-gradient(to bottom,rgb(59, 59, 93),#192734);
    color:yellow;
    font-size: 9vh;
    font-weight: 600;
}

#firstS,#secondS,#thirdS,#fourthS
{
    margin-top:5vh;
    height: 60vh;
    width: var(--generic-width);
    color: honeydew;
    transition: all 0.2s linear 0.4s;
    transform-style: preserve-3d;
    display: flex;
}
#firstFront,#secondFront,#thirdFront,#fourthFront{

    background-color: #3B8BEB;
    background-image: linear-gradient(#3B8BEB,white,white);
    position: absolute;
    height: 60vh;
    width: var(--generic-width);
    display: flex;
    align-items: center;
    justify-content:space-between;
    transform-style: preserve-3d;
    z-index: -1;
}

#info-firstS,#info-secondS,#info-thirdS,#info-fourthS{
    position: absolute;
    height: 12%;
    width: 100%;
    top:90%;
    background-color: #3500D3;
    overflow: hidden;
    z-index: 10;
    
}
.text-in-div
{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
#back-firstS,#back-secondS,#back-thirdS,#back-fourthS{
    position: absolute;
    height: 12%;
    width: 100%;
    top: 90%;
    background-color: rgb(81, 253, 1);
    overflow: hidden;
}


#firstBack,#secondBack,#thirdBack,#fourthBack{
    position: absolute;
    height: 60vh;
    width: var(--generic-width);
    background: linear-gradient(#03a9f4, #e91ee3);
    backface-visibility: hidden;
    transform: rotateY(180deg);


}




.arrows
{
    scale:1.2;
    color: blanchedalmond;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    transition: all 0.15s ease-in;
}

#projects-heading{
    text-align: center; 
    background-image: linear-gradient(to bottom,rgb(59, 59, 93),#192734);
    color:yellow;
    font-size: 9vh;
    font-weight: 600;
    
}

#project-restaurant
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#restaurant-heading{
    background-color: rgb(71, 181, 255);
    display: inline;
    margin-left: 5vw;
}
.project-image
{
    margin-top:5vh;
    height: 60vh;
    width: 400px;
    overflow: hidden;
}

.images
{
    position: relative;
    height: 100%;

    width:100%;
}

#footer{
    height: auto;
    width: 100vw;
    background-color: #24272c;
    color: white;
    
}

#contact-me-footer-headline{
     background-image: linear-gradient(to bottom,rgb(59, 59, 93),#192734);
    color:yellow;
    font-size: 9vh;
    font-weight: 600;
}

.contact-hyperlink
{
    text-decoration: none;
    font-size: 1.7vw;
}

.field-name-contact-me
{
    color: white;
    font-size: 1.8vw;
    font-weight: 500;
}

.education-headline
{
    background-image: linear-gradient(to bottom,rgb(59, 59, 93),#192734);
    color:yellow;
    font-size: 9vh;
    font-weight: 600;
    text-align: center;
}

#education-div
{
    font-size: 20px;
    text-align: center;
    color: lavender;
    height: 60vh;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
}
.img-in-skills{
    position: absolute;
    width: 100%;
}

#radio-question, #radio-comment, #radio-hiring
{
    color: #fff;
    background-color: #fff;
}
.label-for-radio{
    color: #fff;
}

#query-type{
    color: white;
    font-size: 4vh;
}

#academic-honesty-heading{
    background-image: linear-gradient(to bottom,rgb(59, 59, 93),#192734);
    color:yellow;
    font-size: 9vh;
    font-weight: 600;
    text-align: center;
}

@media(max-width:500px)
{
    #form-for-contact
    {
        text-align: left;
    }
    .homepage-pic
    {
        height: 40vh;
    }
    .homepage-pic-div{
        padding-right: 30vw;
        padding-top: 30vh;
        left:0vw;
        top:30vh;
        width: 100vw;
        z-index: 10000;
    }
    #videoDiv{
        top:38vh;
    }
    #div-on-video{
        
    }
    .animated-spans
    {
        font-size: 4vw
    }
    .homepage-pic
    {right: 90%;
    }
    #div-on-video
    {
        font-size: 10vw;
        height: 100vh;
    }
    #video{
        right: 0vw;
        top: 0vh;
    }

    #name
    {
        font-size: 6vh;
    }
    .card-container:hover{
        transform: none;
    }
    #information,#transition-card{
        display: none;
    }
    #information2
    {
        display: block;
    }
    .text-in-education{
        font-size: 9vw;
    }
    .info-back-page
    {
        font-size: 6vw;
    }
    .field-name{
        font-size: 5vw;
    }
    #submit-btn-contact
    {
        font-size: 4vw;
        width: 25vw;
    }
    .input-for-contact{
        width: 40vw;
    }
    .contact-hyperlink,.field-name-contact-me,#contact-me-footer-headline
    {
        font-size: 6vw;
    }
    #footer
    {
        font-size: 20;
    }
    #restaurant-heading
    {
        font-size: 4vw;
    }
    .social-media-links
    {
        width: 20px;
    }
    .social-icons
    {
        font-size: 6vw;

    }
    #I-am
    {
        font-size: 10vw;
    }
}